<!DOCTYPE html>
<html ng-app="currencyEditor">
<head>
  <meta charset="UTF-8">
  <title>Converter by AMI-31 - Editor</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
  <script src="../controllers/editor.js"></script>
  <style>
    .nothing {
      border: 0;
      outline: none;
    }
    .table-nonfluid {
      width: auto !important;
      margin-left: auto;
      margin-right: auto;
    }
    th {
      text-align: center;
    }
  </style>
</head>
<body ng-controller="mainController">
  <div class="container">
    <div class="page-header text-center">
      <h1>Currencies</h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-nonfluid">
          <thead>
            <tr>
              <th width="35%">Name</th>
              <th width="35%">Rate (to USD)</th>
              <th width="30%">Action</th>
            </tr>
          </thead>
          <!-- tr foreach -->
          <tbody>
            <tr ng-repeat="currency in currencies">
              <td width="35%"><input id="name-{{$index}}" class="nothing" type="text" name="currency.name" ng-model="currency.name" readonly></input></td>
              <td width="35%"><input id="rate-{{$index}}" class="nothing" type="number" name="currency.rate" ng-model="currency.rate" readonly></input></td>
              <td align="center"><button id="edit-{{$index}}" class="btn btn-warning" ng-click="update(currency, $index)" />Edit</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
