<!DOCTYPE html>
<html ng-app="currencyEditor">
<head>
  <title>Converter Editor</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
  <script src="../controllers/editor.js"></script>
  <style>
    .nothing {
      border: 0;
      outline: none;
    }
  </style>
</head>
<body ng-controller="mainController">
    <h1 style="text-align: center;">Currencies</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Rate (to USD)</th>
          <th>Action</th>
        </tr>
      </thead>
      <!-- tr foreach -->
      <tbody>
        <tr ng-repeat="currency in currencies">
          <td><input id="name-{{$index}}" class="nothing" type="text" name="currency.name" ng-model="currency.name" readonly></input></td>
          <td><input id="rate-{{$index}}" class="nothing" type="number" name="currency.rate" ng-model="currency.rate" readonly></input></td>
          <td><button id="edit-{{$index}}" class="btn btn-danger btn-xs" ng-click="update(currency, $index)" />Edit</td>
        </tr>
      </tbody>

    </table>
</body>
</html>
